
<div class='container'>
  <ion-header>
    <app-header leftText='返回' title='新增商品'></app-header>
  </ion-header>

  <form #productForm="ngForm" class='content'>
    <div class='take-photos'>
      <div class='thumbnails'>
        <div class='thumbnail' *ngFor="let img of photoURLs; let i = index">
          <ion-thumbnail>
            <img src="{{ img }}">
          </ion-thumbnail>
          <div class='delete-photo' (click)="onCancelAddPhoto(i)">
            X
          </div>
        </div>
      </div>
    
      <div [style]='photoURLs.length < 3 ? "" : "visibility: hidden;"' class='add-photo' (click)="onAddPhotoClick()">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <div class='take-space'></div>
      <div class='grey-text'>上传图片</div>
    </div>

    <div class='scan-qrcode product-prop'>
      <div class='product-prop-name'>
        条码
      </div>
      <div class='asterisk'></div>
      <ion-input required type="text" name='barcode' [(ngModel)]="productModel.barCode" placeholder="输入商品条形码"></ion-input>
      <div *ngIf='false' class='indent-text' (click)='onEditBarCode()'> {{ (productModel.barCode.length == 0) ? '输入商品条形码' : (productModel.barCode.length > 23 ? (productModel.barCode.slice(0,20) + '...') : productModel.barCode) }}</div>
      <div class='take-space'></div>
      <div class='scan-icon' (click)='onScanBarCode()'>
        <ion-icon name="scan-outline"></ion-icon>
      </div>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>名称</div>
      <div class='asterisk'></div>
      <ion-input type="text" [(ngModel)]="productModel.productName" required name='pname'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>分类</div>
      <div class='asterisk'></div>
      <ion-input type="text" disabled='true'></ion-input>
      <div class='take-space'></div>
      <div (click)='onSelectCategory()'>
        <span class='text'> {{ categoryName }} </span>
        <span class='end-right-angle'></span>
      </div>
    </div>

    <div class='divider'></div>

    <div class='product-prop'>
      <div class='product-prop-name'>售价</div>
      <div class='asterisk'></div>
      <ion-input type="number" [(ngModel)]="productModel.salePrice" required name='sprice'
                 placeholder='输入商品售价'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>进价</div>
      <div class='asterisk invisible'></div>
      <ion-input type="number" [(ngModel)]="productModel.originalPrice" name='oprice'
                 placeholder='输入商品进价'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>库存</div>
      <div class='asterisk invisible'></div>
      <ion-input type="number" [(ngModel)]="productModel.remainCount" name='rcount'
                 placeholder='输入商品库存'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>规格</div>
      <div class='asterisk invisible'></div>
      <ion-input type="text" [(ngModel)]="productModel.specification" name='spec'
                 placeholder='规格 型号 尺码'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>备注</div>
      <div class='asterisk invisible'></div>
      <ion-input type="text" [(ngModel)]="productModel.remarks" name='remarks'
                 placeholder='输入商品备注'></ion-input>
    </div>

    <div class='take-space'></div>
    
    <div class='buttons'>
      <ion-button color="primary" fill="solid" expand="full" [disabled]='productForm.invalid || photoURLs.length == 0' (click)="addProductAndGoBack()">保存</ion-button>
      <ion-button color="primary" fill="solid" expand="full" [disabled]='productForm.invalid || photoURLs.length == 0' (click)="addProductAndContinue()">继续添加</ion-button>
    </div>
  </form>
</div>
