
<div class='container'>
  <ion-header>
    <app-header leftText='返回' title='新增商品'></app-header>
  </ion-header>

  <form #productForm="ngForm" class='content'>
    <div class='take-photos'>
      <div class='thumbnails'>
        <div class='thumbnail' *ngFor="let img of photoURLs; let i = index">
          <ion-thumbnail>
            <img src="{{ img }}">
          </ion-thumbnail>
          <div class='delete-photo' (click)="onCancelAddPhoto(i)">
            X
          </div>
        </div>
      </div>
    
      <div [style]='photoURLs.length < 3 ? "" : "visibility: hidden;"' class='add-photo' (click)="onAddPhotoClick()">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <div class='take-space'></div>
      <div class='grey-text'>上传图片</div>
    </div>

    <div class='scan-qrcode product-prop with-warning'>
      <div class='product-prop-name'>
        条码
      </div>
      <div class='asterisk'></div>
      <ion-input required ldyBarcode pattern="^[0-9]{13}$" type="text" name='barcode' #barcode="ngModel" [(ngModel)]="productModel.barCode" placeholder="输入商品条形码"></ion-input>
      <div class="warning" *ngIf='barcode.touched && (barcode.errors?.required || barcode.errors?.pattern)'>请输入13位数字条形码</div>
      <div class='take-space'></div>
      <div class='scan-icon' (click)='onScanBarCode()'>
        <ion-icon name="scan-outline"></ion-icon>
      </div>
    </div>

    <div class='product-prop with-warning'>
      <div class='product-prop-name'>名称</div>
      <div class='asterisk'></div>
      <ion-input type="text" [(ngModel)]="productModel.productName" required name='pname' #pname="ngModel"></ion-input>
      <div class="warning" *ngIf="pname.touched && pname.errors?.required">请输入商品名称</div>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>分类</div>
      <div class='asterisk'></div>
      <ion-input type="text" disabled='true'></ion-input>
      <div class='take-space'></div>
      <div (click)='onSelectCategory()'>
        <span class='text'> {{ categoryName }} </span>
        <span class='end-right-angle'></span>
      </div>
    </div>

    <div class='divider'></div>

    <div class='product-prop with-warning'>
      <div class='product-prop-name'>售价</div>
      <div class='asterisk'></div>
      <ion-input type="number" ldyNonNegativeNumber [(ngModel)]="productModel.salePrice" required name='sprice' #sprice="ngModel"
                 placeholder='输入商品售价'></ion-input>
      <div class="warning" *ngIf="sprice.touched && sprice.errors?.required">请输入商品售价</div>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>进价</div>
      <div class='asterisk invisible'></div>
      <ion-input type="number" ldyNonNegativeNumber [(ngModel)]="productModel.originalPrice" name='oprice'
                 placeholder='输入商品进价'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>库存</div>
      <div class='asterisk invisible'></div>
      <ion-input type="number" ldyNonNegativeNumber [(ngModel)]="productModel.remainCount" name='rcount'
                 placeholder='输入商品库存'></ion-input>
    </div>

    <div class='product-prop'>
      <div class='product-prop-name'>规格</div>
      <div class='asterisk invisible'></div>
      <ion-input type="text" [(ngModel)]="productModel.specification" name='spec'
                 placeholder='规格 型号 尺码'></ion-input>
    </div>

    <div class='product-prop with-warning'>
      <div class='product-prop-name'>备注</div>
      <div class='asterisk invisible'></div>
      <ion-textarea type="text" ldyMaxLength='30' [(ngModel)]="productModel.remarks" name='remarks' #remarks="ngModel"
                 placeholder='输入商品备注'></ion-textarea>
      <div class="warning" *ngIf="remarks.errors?.maxLength">备注过长</div>
    </div>

    <div class='take-space'></div>
    
    <div class='buttons'>
      <ion-button color="primary" fill="solid" expand="full" [disabled]='productForm.invalid || photoURLs.length == 0' (click)="addProductAndGoBack(); pname.reset(); sprice.reset(); barcode.reset();">保存</ion-button>
      <ion-button color="primary" fill="solid" expand="full" [disabled]='productForm.invalid || photoURLs.length == 0' (click)="addProductAndContinue(); pname.reset(); sprice.reset(); barcode.reset();">继续添加</ion-button>
    </div>
  </form>
</div>
