
<div class="container">
<app-logo></app-logo>

<div class="content">
    <div class="signup-process">
        <div class="signup-process-item">
            <img src="../../../assets/img/register/registered_one.png"     *ngIf="slideIndex==0" alt="signup process one">
            <img src="../../../assets/img/register/registered_one_one.png" *ngIf="slideIndex>0"  alt="signup process one">
        </div>
        <div class="divide"></div>
        <div class="signup-process-item">
            <img src="../../../assets/img/register/registered_two.png"     *ngIf="slideIndex<=1" alt="signup process two">
            <img src="../../../assets/img/register/registered_two_two.png" *ngIf="slideIndex>1"  alt="signup process tw0">
        </div>
        <div class="divide"></div>
        <div class="signup-process-item">
            <img src="../../../assets/img/register/registered_three.png"       *ngIf="slideIndex<=2" alt="signup process three">
            <img src="../../../assets/img/register/registered_three_three.png" *ngIf="slideIndex>2"  alt="signup process three">
        </div>
        <div class="divide"></div>
        <div class="signup-process-item">
            <img src="../../../assets/img/register/register_four.png"      *ngIf="!signupSuccess"  alt="signup process four">
            <img src="../../../assets/img/register/register_four_four.png" *ngIf="signupSuccess" alt="signup process four">
        </div>
    </div>

    <ion-slides mode="md" (ionSlideWillChange)="onSlideWillChange($event)" [options]="{allowTouchMove: false}">
        <ion-slide>
            <form #fs1="ngForm" class='input-form' novalidate>
                <div class="phone-line with-warning">
                    <ion-item>
                        <ion-label color="stable" position="floating">输入手机号</ion-label>
                        <ion-input name="phone" #phone="ngModel" type="text"
                                   required [pattern]="validatePhone()" [tabindex]="slideIndex==0 ? 0 : -1"
                                   [(ngModel)]="signupData.phone" (ngModelChange)="phoneChanged($event)">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="duplicatePhone">手机号已经注册</div>
                    <div color="danger" class="warning" *ngIf="!duplicatePhone && phone.errors?.required && phone.touched">手机号是必选</div>
                    <div color="danger" class="warning" *ngIf="!duplicatePhone && phone.errors?.pattern">输入正确的手机号</div>
                </div>
                <div class="take-space"></div>
                <ion-button class="next-slide" (click)="nextSlide()" expand="block" fill="solid"
                            [disabled]="phone.invalid" [tabindex]="slideIndex==0 ? 1 : -1">
                    下一步
                </ion-button>
            </form>
        </ion-slide>
        <ion-slide>
            <form #fs2="ngForm" class='input-form' novalidate>
                <div class="validate-code-line">
                    <ion-item>
                        <ion-label position="floating">验证码</ion-label>
                        <ion-input name="verifyCode" #verifyCode="ngModel" type="text"
                                   required [pattern]="testVerifyCode()" [tabindex]="slideIndex==1 ? 0 : -1"
                                   [(ngModel)]="signupData.code"></ion-input>
                    </ion-item>
                    <ion-button (click)="NewVerification()" expand="block" fill="solid" [tabindex]="slideIndex==1 ? 1 : -1"
                        [disabled]="getVerificationCodeWait!=0 || phone.invalid">
                        <div *ngIf="getVerificationCodeWait==0">获取验证码</div>
                        <div *ngIf="getVerificationCodeWait!=0">{{getVerificationCodeWait}}s可获取验证码</div>
                    </ion-button>
                </div>
                <div class="take-space"></div>
                <div class="prev-next-slide">
                    <ion-button class="prev-slide" (click)="prevSlide()" expand="block" fill="solid"
                                [tabindex]="slideIndex==1 ? 2 : -1">
                        上一步
                    </ion-button>
                    <ion-button class="next-slide" (click)="nextSlide()" expand="block" fill="solid" [disabled]="!slide2Acceptable()"
                                [tabindex]="slideIndex==1 ? 3 : -1">
                        下一步
                    </ion-button>
                </div>
            </form>
        </ion-slide>
        <ion-slide>
            <form #fs3="ngForm" class='input-form' novalidate>
                <div class="user-line with-warning">
                    <ion-item>
                        <ion-label position="floating">输入用户名</ion-label>
                        <ion-input name="username" #username="ngModel" type="text"
                                   required [pattern]="validateName()" [tabindex]="slideIndex==2 ? 0 : -1"
                                   [(ngModel)]="signupData.shopName" (ngModelChange)="usernameChanged($event)">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="duplicateUsername">用户名已被占用</div>
                    <div color="danger" class="warning" *ngIf="!duplicateUsername && username.errors?.required && username.touched">用户名是必选</div>
                    <div color="danger" class="warning" *ngIf="!duplicateUsername && username.errors?.pattern">
                        用户名长度不小于3，不含特殊符号，首字为字母或汉字
                    </div>
                </div>
                <div class="email-line with-warning">
                    <ion-item>
                        <ion-label position="floating">输入邮箱</ion-label>
                        <ion-input name="email" #email="ngModel" type="text"
                                   required [pattern]="validateEmail()" [tabindex]="slideIndex==2 ? 1 : -1"
                                   [(ngModel)]="signupData.email" (ngModelChange)="emailChanged($event)">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="duplicateEmail">邮箱被占用</div>
                    <div color="danger" class="warning" *ngIf="!duplicateEmail && email.errors?.required && email.touched">邮箱是必选</div>
                    <div color="danger" class="warning" *ngIf="!duplicateEmail && email.errors?.pattern">输入正确的邮箱</div>
                </div>
                <div class="password-line with-warning">
                    <ion-item>
                        <ion-label position="floating">输入密码</ion-label>
                        <ion-input name="password" #password="ngModel" type="password"
                                   required [pattern]="validatePassword()" [tabindex]="slideIndex==2 ? 2 : -1"
                                   [(ngModel)]="signupData.password">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="password.errors?.required && password.touched">需要密码</div>
                    <div color="danger" class="warning" *ngIf="password.errors?.pattern">密码长度大于6，且含0-9, a-z, A-Z</div>
                </div>
                <div class="confirm-password-line with-warning">
                    <ion-item>
                        <ion-label position="floating">输入确认密码</ion-label>
                        <ion-input name="confirmPassword" #confirmPassword="ngModel" type="password"
                                   required [pattern]="validateConfirmPassword()" [tabindex]="slideIndex==2 ? 3 : -1"
                                   [(ngModel)]="signupData.confirmPassword">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">请输入确认密码</div>
                    <div color="danger" class="warning" *ngIf="confirmPassword.errors?.pattern">确认密码与密码不符</div>
                </div>
                <div class="take-space"></div>
                <div class="prev-next-slide">
                    <ion-button class="prev-slide" (click)="prevSlide()" expand="block" fill="solid"
                                [tabindex]="slideIndex==2 ? 4 : -1">
                        上一步
                    </ion-button>
                    <ion-button class="next-slide" (click)="nextSlide()" expand="block" fill="solid" [disabled]="!slide3Acceptable()"
                                [tabindex]="slideIndex==2 ? 5 : -1">
                        下一步
                    </ion-button>
                </div>
            </form>
        </ion-slide>
        <ion-slide>
            <form #fs4="ngForm" class='confirm-form' novalidate>
                <ion-list lines="none">
                    <ion-item>
                        <ion-label class="confirm">请确认注册信息</ion-label>
                    </ion-item>
                </ion-list>
                <ion-list>
                   <ion-item>
                        <ion-label class="item">用户名</ion-label>
                        <ion-label class="info">{{ signupData.shopName }}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="item">手机号码</ion-label>
                        <ion-label class="info">{{ signupData.phone }}</ion-label>
                    </ion-item>
                     <ion-item>
                        <ion-label class="item">电子邮箱</ion-label>
                        <ion-label class="info">{{ signupData.email }}</ion-label>
                    </ion-item>
                </ion-list>
                <ion-button class="confirm-signup" (click)="confirmSignup()" expand="block" fill="solid"
                            [tabindex]="slideIndex==3 ? 0 : -1">
                    确认注册
                </ion-button>
                <ion-label color="danger"    *ngIf="signupFail">注册失败，原因未知，请重试</ion-label>
                <ion-label color="secondary" *ngIf="signupSuccess">注册成功，将跳转到登录页</ion-label>
                <div class="take-space"></div>
                <div class="prev-next-slide">
                    <ion-button class="prev-slide" (click)="prevSlide()" expand="block" fill="solid"
                                [tabindex]="slideIndex==3 ? 1 : -1">
                        上一步
                    </ion-button>
                </div>
            </form>
        </ion-slide>
    </ion-slides>
</div>
</div>
