@use '../../../style/layout.scss' as layout;


app-signup {
    @include layout.vertical-form();

   .confirm-form {
        .confirm {
            color: rgb(0,0,0);
        }
        .item {
            color: #222;
        }
        .info {
            color: #888;
        }

        .confirm-signup {
            margin: 2em 0em;
        }
    }

    .signup-process {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.8em, 1em;
        align-items: center;

        .signup-process-item {
            box-sizing: border-box;
            width: 19%;
            padding: 0.6em;
        }

        .divide {
            width: 8%;
            height: 1.5px;
            box-sizing: border-box;
            background: black;
        }
    }
}
