
<div class="container">
<div class="ion-text-center">
    <img class="logo" src="../../../assets/img/register/logo.png" alt="logo">
</div>

<div class="content">
    <div class="signup-process">
        <div class="signup-process-item">
            <img src="../../../assets/img/register/registered_one.png"     *ngIf="slideIndex==0" alt="signup process one">
            <img src="../../../assets/img/register/registered_one_one.png" *ngIf="slideIndex>0"  alt="signup process one">
        </div>
        <div class="divide"></div>
        <div class="signup-process-item">
            <img src="../../../assets/img/register/registered_two.png"     *ngIf="slideIndex<=1" alt="signup process two">
            <img src="../../../assets/img/register/registered_two_two.png" *ngIf="slideIndex>1"  alt="signup process tw0">
        </div>
        <div class="divide"></div>
        <div class="signup-process-item">
            <img src="../../../assets/img/register/registered_three.png"       *ngIf="slideIndex<=2" alt="signup process three">
            <img src="../../../assets/img/register/registered_three_three.png" *ngIf="slideIndex>2"  alt="signup process three">
        </div>
        <div class="divide"></div>
        <div class="signup-process-item">
            <img src="../../../assets/img/register/register_four.png"      *ngIf="true"  alt="signup process four">
            <img src="../../../assets/img/register/register_four_four.png" *ngIf="false" alt="signup process four">
        </div>
    </div>

    <div class="pop-message" [style]="'display: ' + (displayMessager ? 'block' : 'none')">
        <div class="pop-closer">
            <button (click)="hidePopMessage()">X</button>
        </div>
        【生意专家】尊敬的用户，您的验证码: <span class="validate-code" #validCode></span>，
        工作人员不会索取，请勿泄露。
    </div>

    <ion-slides mode="md" (ionSlideWillChange)="onSlideWillChange($event)" [options]="{allowTouchMove: false}">
        <ion-slide>
            <form #fs1="ngForm" class='input-form' novalidate>
                <div class="phone-line with-warning">
                    <ion-item>
                        <ion-label color="stable" position="floating">输入手机号</ion-label>
                        <ion-input name="phone" #phone="ngModel" type="text"
                                   required [pattern]="validPhone"
                                   [(ngModel)]="signupData.phone">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="phone.errors?.required && phone.touched">手机号是必选</div>
                    <div color="danger" class="warning" *ngIf="phone.errors?.pattern">输入正确的手机号</div>
                </div>
                <div class="validate-code-line">
                    <ion-item>
                        <ion-label position="floating">验证码</ion-label>
                        <ion-input name="verifyCode" #verifyCode="ngModel" type="text"
                                   required [pattern]="testVerifyCode()"
                                   [(ngModel)]="signupData.code"></ion-input>
                    </ion-item>
                    <ion-button (click)="NewVerification()" expand="block" fill="solid"
                        [disabled]="getVerificationCodeWait!=0 || phone.invalid">
                        <div *ngIf="getVerificationCodeWait==0">获取验证码</div>
                        <div *ngIf="getVerificationCodeWait!=0">{{getVerificationCodeWait}}s可获取验证码</div>
                    </ion-button>
                </div>
                <div class="take-space"></div>
                <ion-button class="next-slide" (click)="nextSlide()" expand="block" fill="solid" 
                            [disabled]="!slide1Acceptable()">
                    下一步
                </ion-button>
            </form>
        </ion-slide>
        <ion-slide>
            <form #fs1="ngForm" class='input-form' novalidate>
                <div class="email-line with-warning">
                    <ion-item>
                        <ion-label position="floating">输入邮箱</ion-label>
                        <ion-input name="email" #email="ngModel" type="text"
                                   required [pattern]="validEmail"
                                   [(ngModel)]="signupData.email">
                        </ion-input>
                    </ion-item>
                    <div color="danger" class="warning" *ngIf="email.errors?.required && email.touched">邮箱是必选</div>
                    <div color="danger" class="warning" *ngIf="email.errors?.pattern">输入正确的邮箱</div>
                </div>
                <div class="take-space"></div>
                <div class="prev-next-slide">
                    <ion-button class="prev-slide" (click)="prevSlide()" expand="block" fill="solid" [disabled]="!slide1Acceptable()">
                        上一步
                    </ion-button>
                    <ion-button class="next-slide" (click)="nextSlide()" expand="block" fill="solid" [disabled]="!slide1Acceptable()">
                        下一步
                    </ion-button>
                </div>
            </form>
        </ion-slide>
        <ion-slide>
        </ion-slide>
        <ion-slide>
        </ion-slide>
    </ion-slides>
</div>
</div>
