/** welcom page style */

app-welcome {
    box-sizing: border-box;

    ion-header {
        ion-toolbar {
            position: fixed;
            --background: rgba(0,0,0,0);

            ion-button {
                padding: 0.2em 1em 0em 0em;
            }
        }
    }

    .welcome-content {
        ion-slides {
            box-sizing: border-box;
            height: 100%;
            --bullet-background: #555;
            .swiper-pagination {
                margin-bottom: 4em;
            }

            ion-slide {
                img {
                    align-self: start;
                }
            }

            .slide-three {
                align-self: start;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .login-signup-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        bottom: 0.5em;

        ion-button {
            min-width: 40%;
        }
    }
}

