@use '../../../../style/layout.scss' as layout;

app-change-info {
    height: 100%;

    @include layout.settings-vertical();

    .container {
        .content {
            .auth-code {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                ion-item {
                    --background: transparent;

                    &.item-has-focus {
                        ion-label {
                            color: var(--ldy-color-primary) !important;
                        }
                    }

                    ion-label {
                        color: #777;
                    }

                    ion-input {
                        background-color: transparent;
                    }
                }
            }

            .h2h {
                width: 100%;
                height: 2em;
            }

            ion-input {
                padding-left: 0.5em !important;
                border-radius: 0.3em;
                background-color: white;
            }
        }
    }
}