
<div class="container">
  <app-logo></app-logo>

  <div class="content">
    <form #fs1="ngForm" class='retrieve-password-form' *ngIf="!gotoReset" novalidate>
      <div class="phone-or-email with-warning">
        <ion-item>
          <ion-label color="stable" position="floating">输入手机号</ion-label>
          <ion-input name="userAccount" #userAccount="ngModel" type="text" required [(ngModel)]="mAccountInfo.shopName">
          </ion-input>
        </ion-item>
        <div color="danger" class="warning" *ngIf="!mError.bad_phone && userAccount.errors?.required && userAccount.touched">请输入手机号</div>
        <div color="danger" class="warning" *ngIf="mError.bad_phone">找不到此账户</div>
      </div>

      <div class="validate-code-line with-warning">
        <ion-item>
          <ion-label position="floating">验证码</ion-label>
          <ion-input name="verifyCode" #verifyCode="ngModel" type="text" required
                     [(ngModel)]="mAccountInfo.code"></ion-input>
        </ion-item>
        <ion-button (click)="sendCode()" expand="block" fill="solid"
                    [disabled]="getVerificationCodeWait!=0">
          <div *ngIf="getVerificationCodeWait==0">获取验证码</div>
          <div *ngIf="getVerificationCodeWait!=0">{{getVerificationCodeWait}}s可获取验证码</div>
        </ion-button>
      </div>
      <div class="take-space"></div>

      <div class="button with-warning">
        <ion-button (click)="checkVerifyCode()" expand="block" fill="solid">
          确认
        </ion-button>
        <div color="danger" class="warning" *ngIf="mError.bad_code">验证码错误</div>
      </div>
    </form>
    <form #fs2="ngForm" class='retrieve-password-form' *ngIf="gotoReset && !resetSuccess" novalidate>
      <div class="password with-warning">
        <ion-item>
          <ion-label color="stable" position="floating">输入新密码</ion-label>
          <ion-input name="password" #password="ngModel" type="password"
                     required [pattern]="validatePassword()"
                     [(ngModel)]="mAccountInfo.password">
          </ion-input>
        </ion-item>
        <div color="danger" class="warning" *ngIf="password.touched && password.errors?.required">请输入密码</div>
        <div color="danger" class="warning" *ngIf="!password.errors?.required && password.errors?.pattern">密码格式错误, 需包含 a-z, A-Z, 0-9</div>
      </div>

      <div class="confirm-password with-warning">
        <ion-item>
          <ion-label color="stable" position="floating">输入确认新密码</ion-label>
          <ion-input name="confirmPassword" #confirmPassword="ngModel" type="password" required
                     [(ngModel)]="mAccountInfo.confirmPassword">
          </ion-input>
        </ion-item>
        <div color="danger" class="warning" *ngIf="confirmPassword.touched && mAccountInfo.confirmPassword!=mAccountInfo.password">密码不一致</div>
      </div>

     <div class="button with-warning">
        <ion-button (click)="resetPassword()" expand="block" fill="solid" [disabled]="mAccountInfo.confirmPassword != mAccountInfo.password || password.invalid">
          确认
        </ion-button>
      </div>
    </form>

    <form #fs3="ngForm" *ngIf="resetSuccess" novalidate>
      <div>重置密码成功，<a [routerLink]='["/"]'>返回首页</a></div>
    </form>
  </div>
</div>
