<div class="container">
  <ion-header>
    <app-header leftText='返回' title='关于我们'></app-header>
  </ion-header>

  <div class="content">
    <div class="items">
      <div class="item">
        <div class="item-title bold-text">姓名</div>
        <div class="take-space"></div>
        <div>李典源</div>
      </div>
      <div class="item">
        <div class="item-title bold-text">学号</div>
        <div class="take-space"></div>
        <div>200327046</div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="item-title bold-text">完成的功能</div>
        <div class="take-space"></div>
      </div>
      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        欢迎页
      </div>

      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        注册、登录页、找回密码
      </div>

      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        用户主页、用户设置、修改密码等等
      </div>

      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        商品分类管理
      </div>

      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        商品管理，新增商品、商品浏览、商品出库入库、出库入记录
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="item-title bold-text">未完成的功能</div>
        <div class="take-space"></div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="item-title bold-text">掌握了什么</div>
        <div class="take-space"></div>
      </div>
      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        Angular、RxJS
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="item-title bold-text">意见</div>
        <div class="take-space"></div>
      </div>
      <div class="item"><div class="width-2em"></div><div class="take-space"></div>
        无
      </div>
    </div>

  </div>
</div>