<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <div class="app-menu">
                <div class="box-title">
                    <div class="box-user-info">
                        <div class="username">{{userInfo.name}}</div>
                        <div class="phone">{{userInfo.phone}}</div>
                    </div>
                    <div class="badge" color="primary">高级版</div>
                </div>

                <div class="menu-items-container">
                    <div class="divide-line"></div>
                    <div class="menu-items" *ngFor="let p of appPages; let i = index">
                        <div [class]="'menu-item ' + (selectedIndex==i ? 'selected-menu-item' : '')" 
                            (click)="selectedIndex=i" routerDirection="root" [routerLink]="[p.url]">
                            <div class="i1"><ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon></div>
                            <ion-label class="i2">{{ p.title }}</ion-label>
                            <div class="i3"><ion-icon name="chevron-forward-outline"></ion-icon></div>
                        </div>
                        <div class="divide-line"></div>
                    </div>
                </div>

                <div class="take-space"></div>

                <div class="settings">
                    <ion-icon name="settings-outline"></ion-icon>
                    <ion-label>设置</ion-label>
                </div>
            </div>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
