/** css variable */

$color-primary: #FF6A3C;
$color-primary-rgb: 255, 106, 50;
$color-primary-shade: darken($color-primary, 10%);
$color-primary-tint: lighten($color-primary, 10%);

$color-secondary: #3DC2FF;

:root {
    --ldy-color-warn: #F11;
    --ldy-color-info: #11F;

    --ldy-color-primary:   #{$color-primary};
    --ldy-color-primary-rgb:   #{$color-primary-rgb};
    --ldy-color-primary-shade: #{$color-primary-shade};
    --ldy-color-primary-tint: #{$color-primary-tint};

    --ldy-color-secondary: #{$color-secondary};

    --ldy-color-grey-a: #AAA;
    --ldy-color-grey-b: #BBB;
    --ldy-color-grey-c: #CCC;
    --ldy-color-grey-d: #DDD;
}

