
app-copyright {
    position: absolute;
    bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em 0em 0em 0em;

    .copyright {
        width: 100%;
        text-align: center;
    }
}

