
<ldy-copyright></ldy-copyright>
<div class="container">
  <ion-header>
    <app-header title='修改分类名称' [tools]='["╳"]' (toolClick)="dismiss(null);"></app-header>
  </ion-header>

  <div class="content">
    <ion-input  class="input" type="text" placeholder="分类名称"
                required
                [(ngModel)]="name" name="kvalue" #kvalue='ngModel'></ion-input>
    <ion-button class="submit" (click)="onSave()" color="primary" expand="block" fill="solid"
                [disabled]='kvalue.invalid'>
      保存
    </ion-button>
  </div>
</div>
